.device-page{

    display: grid;
                         grid-template-columns: 200px 2fr;
                         grid-template-areas: 'sidebar main' 'sidebar main''footer footer';
}
.device-sidebar{
    grid-area: sidebar;
}
.device-main{
    grid-area: main;
}
.device-footer{
    grid-area: footer;
}
.device-main{
    padding: 10px;
}
.device-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .device-page{
        display: flex;
        flex-direction: column;
    }
    .device-lead{
        
        display: flex ;
        justify-content:space-between;
        align-content: center;
      h3{
        font-size: 18px;
      }
    }
    .device-footer{
        justify-content: flex-end;
    }

    .device-info {
        padding:5px;
       .device-lead {
        margin-bottom: 10px;
        }

    
    }
    .device-img{
        padding: 1px;
        border: 1px solid #333;
    
    
    }
    
    .device-img-lead{
        all: unset !important;
          width: 80%;
    }
    .device-img-lead >div{
        text-align: center; 
    }

.device-img figcaption{

    padding: 5px 25px !important;
    line-break: strict;
    line-height: 1.7;
    font-size: 13px;
}
    .device-img .device-img-lead img{

        width: 100%;
        border-radius: 10px;
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:992px){
    .device-info {
        padding:5px;
        .device-lead {
        margin-bottom: 10px;
        display: flex ;
        justify-content:space-between;
        align-content: center;
        }

    
    }
    .device-img{
        padding: 5px;
        border: 1px solid #333;
     
     figure{
        align-items: center;

          width: 100%;
    }
    .device-img-lead>div{
        text-align: center; 
    }
    }

.device-img figcaption{
    
    padding: 5px 10px  !important;
    line-break: strict;
    line-height: 1.7;
    font-size: 16px;
}
    .device-img .device-img-lead img{
        width: 100% ;        border-radius: 10px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.device-info{
    padding: 10px;
}
.device-img{
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.device-img .device-img-lead{
    display: flex;
padding: 5px;

}
.device-lead{
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 10px;
    display: flex ;
    justify-content:space-between;
    align-content: center;

}
.device-img img{
    border-radius: 10px;
}
.device-img .device-img-lead >div{
    padding: 0 10px;
}
.device-img .device-img-lead figcaption{
    text-overflow: clip;

    padding: 40px;
}