.device-view-page{
    display: grid;
    grid-template-columns: 200px 2fr;
    grid-template-areas: 'sidebar main' 'sidebar main''footer footer';
}
.device-view-sidebar{
    grid-area: sidebar;
}
.device-view-main{
    grid-area: main;
}
.device-view-footer{
    grid-area: footer;
}

.device-view-main .device-view-info .view-img img{
    width: 280px;
    height: 200px;
     object-fit: cover;
}
.device-view-main{
    padding: 10px;
}
.device-view-info{
    /* border: 2px solid black; */
    padding:10px 5px 5px 5px;
    display: flex;
    gap: 100px;
    justify-content: space-around;
}
.active-btns{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.active-btn{
    padding:2px 8px ;
    background-color: gray !important;
    border-radius: 5px;
    cursor: pointer;

}
.offcolor{
    background-color: green; /* or any color for the active button */
    color: white;
    padding:2px 8px ;
    cursor: pointer;
    border-radius: 5px;

}
.device-details{
    padding: 10px;
p{
    padding: 10px;
}
}
.device-view-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 8px;
margin: 10px;

}

.device-status{
    padding: 10px;
    display: flex;
    gap: 20px;
}
.device-status .box{
  width: 190px;
    padding: 10px;
    background-color: rgba(204, 204, 204,0.3);
    border: 1.5px solid #333;
    text-align: center;
    
}
.active-power{

    width: 180px !important;
}
.active-power .box-lead{
    font-size: 12px !important;
}
.box-lead{
    text-align: left;
    padding-left: 6px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
margin-bottom: 10px;
font-weight: bold;
font-size: 14px;
}
.box-sub-lead{
    font-size: 15px;
    color: #000010;
}
.box-sub-lead>span{
    color: rgba(60, 40, 40,0.8);
}
.state{
    background-color: rgba(0,225, 0, 0.9);
    display: inline-block;
    width: 40px;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 3px;
}
.state-off{
    background-color: rgba(225,0, 0, 0.9);
    display: inline-block;
    width: 40px;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 3px;
}
.state-unknown{
    background-color: #ccc ;
    color: #000;
}
.device-table-details{
    margin-left: 10px;
    margin-top: 40px;
 width: max-content;
 color:black;
 /* background-color: rgba(37, 62, 255,0.8); */
    background-color: rgba(135, 206, 235,0.1);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.device-view-modal{
    width: 500px !important;
    margin-top: 60px;
    max-height: 90vh; /* Limit the height of the modal */
    overflow-y: auto; /* Allow scrolling within the modal if content overflows */
    overflow: scroll;

}
.space-bar{
    border:1.2px solid #ccc ;
    font-weight: bolder;
     border-radius: 10px;
}
.label{
    display: flex;
    padding: 20px ;
    width: 600px;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 100px;
}
.second-label{
    width: 160px;
    display: flex;
    gap: 3px;
}
.cen{
    float: left;
}
.img-info{
    display: flex;
}

@media only screen and (max-width: 600px) 
{
.device-view-page{
    display: flex;
    flex-direction: column;
}
.img-info{
    flex-direction: column;
    margin-bottom: 30px;
}
.meter{
    all: unset;
}
.device-view-info{
    flex-direction: column;
    align-items: flex-start;
    justify-content: none;
    gap: 10px;
}
.device-details{
    padding: 5px;
p{
    padding: 8px;
    font-size: 13px;
}
}
.device-view-modal{
    height: 80vh;
}
.device-view-info .view-img img{
    width: 170px;
    height: 160px;
     object-fit: cover;
}
.device-details{
    align-self: flex-start;
}
.device-status{
    flex-direction: column;
    align-content: center;
}

.device-status .box{
    width: 100%;
}
.frequency{
    display: none;
}
.active-power{
    display: none;
}
.avg-power{
    display: none;
}


.device-table-details{
    margin-left: 0px;

    margin-top: 10px;
 color:black;
 /* background-color: rgba(37, 62, 255,0.8); */
    background-color: rgba(135, 206, 235,0.1);
     border-radius: 20px;
     padding: 5px;
}
.space-bar{
    border:1.2px solid #ccc ;
    font-weight: bolder;
     border-radius: 10px;
}
.label{
    display: flex;
    padding: 12px;
    width: 290px;
    justify-content: none;

}
}
@media only screen and (min-width: 600px) and (max-width:992px){}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}