.hamburger{
width:2rem;
height:2rem;
display:flex;
justify-content:space-around;
flex-direction: column;
flex-wrap: nowrap;
z-index:10;
}
.burger{
width:1.9rem;
height:0.24rem;
border-radius:20px;
background-color:#FFFFFC;
transform-origin:10px;
transition:all 0.3s linear;
 
}